@mixin flex($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  
  @if $direction == row {
    flex-direction: row;
  }

  @if $direction == column {
    flex-direction: column;
  }
}