-
    var articles = [
        {'name':'Самое важное в SASS', 'href':'#article1'},
        {'name':'Приёмы в вёрстке, без которых не обходится ни один сайт', 'href':'#article2'},
        {'name':'Самый необходимый набор Gulp плагинов', 'href':'#article3'},
        {'name':'Почему я выбрал Pug', 'href':'#article4'}
    ]