-
    var articles = [
        {'name':'Самое важное в SASS', 'href':'#'},
        {'name':'Приёмы в вёрстке, без которых не обходится ни один сайт', 'href':'#'},
        {'name':'Самый необходимый набор Gulp плагинов', 'href':'#'},
        {'name':'Почему я выбрал Jade', 'href':'#'}
    ]