#auth {
    display: flex;
}

.auth__row {
    @include flex();
    margin-bottom: rem(18px);
}

.auth__left-block {
    background-color: #f0efe9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    @include flex();
    height: rem(44px);
    width: rem(44px);
}

.strokes-title--auth {
    margin-top: rem(30px);
}

.auth__svg-login {
    width: rem(13px);
    fill: $light-light-grey;
}

.auth__svg-password {
    width: rem(16px);
    fill: $light-light-grey;
}

.auth__input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: $white;
    outline: none;
    color: $grey;
    height: rem(44px);
    width: rem(298px);
    @include roboto();
    font-size: rem(16px);
    padding-left: rem(20px);
    @include placeholder {
        color: $light-light-grey;
    }
}

@include placeholder {
    color: $light-light-grey;
}


.auth__captcha {
    @include flex(column);
}

.auth__check {
    @include flex();
}

.auth__confirmation {
    @include flex(column);
    margin-top: rem(5px);
}

.auth__question {
    @include roboto(bold);
    color: $light-grey;
    margin-top: rem(5px);
}  

.auth__radios {
    @include flex();
    justify-content: space-between;
    width: rem(204px);
    margin-bottom: rem(32px);
}

.auth__radio {
    margin: rem(5px);
}

.buttons__item--auth {
    border-right: none !important; 
    border-left: none;
}

.checked {
    color: $green !important;
}