.fs-menu {
    position: absolute;
    top: -100vh;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($green, .95);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    will-change: top;
    transition: .4s;
}

.fs-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.fs-menu__item {
    display: inline-flex;
}

.fs-menu__link {
    text-decoration: none;
    &:hover {
        .strokes-title--white {
            &:before {
                background: rgba($white, 1);
            }
            &:after {
                background: rgba($white, 1);
            }            
        }
    }
}

.fs-menu--opened
{
    top: 0;
}

