.header {
    @include flex(column);
    user-select: none;              
    position: relative;
    height: 650px;
    width: 100vw;
    background: url('../images/bg/header-bg.png');
    background-size: cover;
}

.header-blog {
    height: 400px;

    @include tablets {
        height: 575px;
    }
}

.header__content {
    @include flex(column);
    position: relative;
    width: 80%;
    height: 90%;
}

.header__icon-wrapper {
    display: flex;
    width: 50%;
    border: 1px solid aquamarine;
}

.header__svg {
    fill: rgba($white, .06);
    width: 100%;
    padding-bottom: rem(50px);
}

.header-blog__svg {
    fill: rgba($white, .5);
}

.header__info {
    @include flex(column);
    position: absolute;
}


.header__img {
    background: url('../images/photos/me.png');
    width: rem(147px);
    height: rem(147px);
    border-radius: 50%;
    margin-top: rem(25px);
    @include tablets {
        background-position-x: -8px;
    }    
    @include phones {
        background-position-x: -20px;
    }
    
}

.header__title {
    @include roboto();
    font-size: rem(35px);
    color: $white;
    opacity: 1;
    margin-top: rem(30px);
    margin-bottom: 0;
    padding: 0; 
    text-align: center;   
    
}

.header__subtitle {
    @include roboto(light);
    font-size: rem(16px);
    color: rgba($white, .8);
    opacity: .8;
    margin-top: rem(0px);
    margin-bottom: 0;
    padding: 0;
}

.header__subtitle--blog {
    @include roboto(regular);
    color: $white;
    opacity: 1;
    white-space: nowrap;
}

.socials__list.header__socials {
    position: absolute;
    left: 1%;
    top: 1%;
    margin: 0;
}

.socials__item--header {

}

.socials__svg--header {
    fill: $white;
    opacity: .85;
    transition: .3s;
    &:hover {
        opacity: 1;
    }
}

.hamburger {
    position: absolute;
    right: 1%;
    top: 1%;
    margin: rem(10px) rem(15px);
}

.hamburger__svg {
    width: rem(35px);
    height: rem(35px);
    fill: $white;
}

.next-screen {
    position: absolute;
    bottom: 10%;
    left: auto;
    opacity: .7;
    transition: .3s;
    z-index: 100;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }      
}

.next-screen--blog {
    display: none;
    
    @include tablets {
        display: block;
    }
}

.next-screen__svg {
    width: rem(25px);
    height: rem(25px);
    fill: $white;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 1%;
    outline: none;
    opacity: .7;
    z-index: 10000;
    transition: .3s;
    &:hover {
        opacity: 1;
    }
    .hamburger-box {
        color: $white;
        .hamburger-inner {
            color: $white;
        }
    }   
}
