.header {
    @include flex(column);
    user-select: none;              
    position: relative;
    height: 650px;
    width: 100vw;
    background: url('../images/bg/header-bg.png');
    background-size: cover;
}

.header__content {
    @include flex(column);
    position: relative;
}

.header__svg {
    fill: rgba($white, .06);
    width: rem(1150px);
    height: rem(430px);
    padding-bottom: rem(50px);
}

.header__info {
    @include flex(column);
    position: absolute;
}


.header__img {
    background: url('../images/photos/me.png');
    width: rem(147px);
    height: rem(147px);
    border-radius: 50%;
    margin-top: rem(25px);
}

.header__title {
    @include roboto();
    font-size: rem(35px);
    color: $white;
    opacity: 1;
    margin-top: rem(30px);
    margin-bottom: 0;
    padding: 0;    
    
}

.header__subtitle {
    @include roboto(light);
    font-size: rem(16px);
    color: rgba($white, .8);
    opacity: .8;
    margin-top: rem(0px);
    margin-bottom: 0;
    padding: 0;
}

.socials__list.header__socials {
    position: absolute;
    left: 1%;
    top: 1%;
    margin: 0;
}

.socials__item--header {

}

.socials__svg--header {
    fill: $white;
    opacity: .85;
    transition: .3s;
    &:hover {
        opacity: 1;
    }
}

.hamburger {
    position: absolute;
    right: 1%;
    top: 1%;
    margin: rem(10px);
}

.hamburger__svg {
    width: rem(25px);
    height: rem(25px);
    fill: $white;
}

.next-screen {
    position: absolute;
    bottom: 10%;
    left: auto;
    opacity: .7;
    transition: .3s;
    z-index: 100;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }      
}

.next-screen__svg {
    width: rem(25px);
    height: rem(25px);
    fill: $white;
}