.round-socials__list {
    @include flex();
    @include tablets {
        margin-top: rem(15px);
    }      
}

.round-socials__item {
  @include flex();
  opacity: .85;
  margin: 0 rem(5px);
}

.round-socials__item svg {
  fill: $black;
  transition: all .3s;
  height: 37px;
  width: 37px;
}

.round-socials__item:hover svg {
  fill: #fff;
}

.round-socials__item:hover svg circle{
  fill: none;
}