.triangle-box {
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: auto;
  right: auto;
  margin: 0;
  z-index: 0;
}

.traingle .left{
  fill: $beige;
}
.traingle .right{
  fill: $dark-beige;
}