.triangles {
  display: flex;
}

.triangle-wrapper {
    display: flex;
    position: absolute;  
    width: 50%;
    bottom: 100%;
    @include tablets {
      width: 50%;
    }
    svg {
      width: 100%;
    }
}

.triangle-wrapper--left {
  left: 0;
}

.triangle-wrapper--right {
  right: 0;
}


.triangle .left{
  fill: $beige;
}
.triangle .right{
  fill: $dark-beige;
  @include tablets {
    fill: $beige;
  }
}

.triangle-beige {
  fill: #faf8f0;
}

.triangle-white {
  fill: $white;
}