extends ../template

block variables
    - var title = "Welcome!"

block content
    
    include ../components/preloader.pug     

    .welcome-container

        include ../components/parallax.pug     
        
        a(href="" tabindex="1").login-button Авторизоваться

        .flip-container
            .flipper
                .front
                    include ../components/menu.pug
                .back
                    include ../components/auth.pug

        .credits © Алексей Шилякин | создано в LoftSchool | 2017