extends ../template

block variables
    - var title = "Welcome!"

block content
    .welcome-container
        include ../components/parallax.pug     
        .login-button Авторизоваться
        //- include ../components/menu.pug

        .flip-container
            .flipper
                .front
                    include ../components/menu.pug
                .back
                    include ../components/auth.pug

        .credits © Алексей Шилякин | создано в LoftSchool | 2017