extends ../template

block variables
    - var title = "Мои работы"

block content
    .page-container
        include ../components/header.pug

        section.works__wrapper

            .triangles
                .triangle-wrapper.triangle-wrapper--left.triangle-white
                    svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 500 85" preserveaspectratio="none" class="triangle")
                        polygon(class = "triangle-white" points="0,0   0,86   500.8,86   500.8,75.5")
                .triangle-wrapper.triangle-wrapper--right.triangle-white
                    svg(xmlns="http://www.w3.org/2000/svg" viewbox="500 0 500 85" preserveaspectratio="none" class="triangle")
                        polygon(class = "triangle-white" points="1000,0   1000,86   500,86   500,75.5")

            .works__header
                .strokes-title.strokes-title--big Мои работы
                .strokes-title__bg.strokes-title__bg-works
                    +icon('works-header__svg', 'works_header')

            
        include ../components/slider.pug

        include ../components/mentions.pug

    include ../components/footer.pug
    
    
