.about__content {
    display: flex;
    align-items: top;
    justify-content: center;
    color: $grey;
}

.about__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.about__left {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 50%;
}

.about__col {
    @include flex(column);
    justify-content: flex-start;    
    width: 50%;   
}

.about__col-left {

}

.about__title {
    @include bernier();
    font-size: rem(63px);
    text-transform: uppercase;
    white-space: nowrap;
    color: $black;
    margin: 0;  
}

.about__img-wrapper {
    max-width: 443px;
    max-height: 390px;
}

.about__img {
    width: 100%;
}
        
.about__whoami-title, .skills__title {
    @include bernier;
    font-size: rem(35px);
    text-transform: uppercase;
}

.about__text {
    @include roboto();
    font-size: rem(16px);
}

.skills__title-wrapper {
    @include flex();
    text-align: center;
}


.skills__group {
    @include bernier();
    font-size: rem(35px);
    text-transform: uppercase;    
}

.skills__text {
    @include roboto();
    font-size: rem(16px);
}

.groups__list {

}

.groups__item {


}

.group__title {
    @include roboto(medium);
    font-size: rem(28px);
}

.skills__list {
    display: flex;
    justify-content: flex-start;
}

.skills__item {
    position: relative;
    @include flex();
}

.skill__title {
    position: absolute;
    color: $green;
    @include roboto(medium);
    font-size: 14px;
}
