.about__content {
    display: flex;
    align-items: top;
    justify-content: center;
    color: $grey;
    width: 100%;
    position: relative;
    @include tablets {
        flex-direction: column;    
    }
}

.about__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    background: $dark-beige;
    position: relative;    
    padding: 0 rem(25px) rem(40px) rem(25px);
    @include tablets {
        width: 100%;
    }
}

.about__left {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 50%;
    background: $beige;
    position: relative;
    padding: rem(10px) rem(5px) rem(40px) 0;
    @include tablets {
        width: 100%;
        flex-direction: column;
    }    
}

.about__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: 0;
    @include tablets {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: rem(30px);
    }      
}

.about__col-left {
    align-items: bottom;
    margin: 0;
    @include tablets {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }      
}

.strokes-title--whoami {
    margin-top: rem(30px);
    margin-bottom: rem(30px);
}

.about__me {
    @include flex(column);
    text-align: center;
    position: relative;
    margin-top: rem(-72px);
    margin-right: rem(20px);
    max-width: rem(340px);
    margin-left: auto;
    @include tablets {
        margin: auto;    
    }      
}

.about-me-svg {
    fill: $light-light-grey;
    width: 100%;
    margin-left: auto;
    opacity: .5;
    margin-bottom: rem(10px);
}

.about__title-wrapper {
    position: absolute;
}

.strokes-title--about {
    @include bernier();
    font-size: rem(63px);
    text-transform: uppercase;
    color: $black;
    margin: 0;
}


.about__img-wrapper {
    max-width: 443px;
    max-height: 390px;
}

.about__img {
    width: 100%;
}

        
.about__whoami-title, .skills__title {
    @include bernier;
    font-size: rem(35px);
    text-transform: uppercase;
}

.about__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about__text {
    @include roboto();
    font-size: rem(16px);
    margin-bottom: rem(10px);
    padding-right: rem(20px);
    max-width: 443px;
    @include tablets {
        padding-right: 0;
    }  
}

.whoami-title-wrapper {
    @include flex();
    width: 100%;
    text-align: center;
}

.skills-title-wrapper {
    @include flex(column);
    width: 100%;
    text-align: center;
    margin-bottom: rem(20px);
    padding-right: rem(60px);
    @include tablets {
        padding-top: rem(35px);
        padding-right: 0;
    }      
}


.strokes-title--skills{
    margin-top: rem(-8px);
    @include tablets {
        margin-top: rem(25px);
    }
}

.skills__group {
    @include bernier();
    font-size: rem(35px);
    text-transform: uppercase;    
}

.skills__text {
    @include roboto();
    font-size: rem(16px);
    padding-right: rem(70px);
    padding-left: rem(20px);
}

.groups__list {
    display: flex;
    flex-direction: column;
    align-items: bottom;
    justify-content: center;
    width: 100%;
    margin-top: rem(40px);
    margin-bottom: rem(30px);

}

.groups__item {
    display: flex;
    flex-direction: column;
    align-items: top;
    margin: rem(10px) 0;
    @include tablets {
        text-align: center;
    }  
}

.group__title {
    @include roboto(medium);
    font-size: rem(28px);
    padding-left: rem(18px);
}

.skills__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    @include tablets {
        @include flex();
    } 
    @include phones {
        @include flex();
    }    
}

.skills__item {
    position: relative;
    @include flex();
    margin: 0;
}

.skill__title {
    position: absolute;
    color: $green;
    @include roboto(medium);
    font-size: rem(14px);
}

.map-wrapper {
    @include flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background: $dark-beige;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.contacts-wrapper {
    width: rem(378px);
    background: $white;
    opacity: .9;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: rem(15px);
    border-radius: 5px;
    position: absolute;
    margin-top: rem(-80px);
    @include phones {
        top: 0;
        margin-top: 0;
        width: 100%;
    }
}

.contacts__list {
    @include flex(column);
    height: 100%;
    margin-top: rem(30px);
}

.contacts__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: rem(5px);
    width: 100%;
    margin-bottom: rem(15px);
    &:last-child {
        margin-bottom: rem(20px);
    }
}

.contacts__link {
    @include flex();
    text-decoration: none;
    color: $grey;
    &:hover .mail__svg {
        fill: $dark-green;
    }
    &:hover .phone__svg {
        fill: $dark-green;
    }
    &:hover .skype__svg {
        fill: $dark-green;
    }
    &:hover .map-marker__svg {
        fill: $dark-green;
    }
}

.skype__svg {
    width: rem(25px);
    height: rem(25px);
    fill: $green;
    transition: .3s;
}

.mail__svg {
    width: rem(21px);
    height: rem(21px);
    fill: $green;
    transition: .3s;
    
}

.phone__svg {
    width: rem(20px);
    height: rem(20px);
    fill: $green;
    transition: .3s;
    
}

.map-marker__svg {
    width: rem(27px);
    height: rem(27px);
    fill: $green;
    transition: .3s;
}

.contacts__desc {
    @include roboto(medium);
    font-size: rem(16px);
    padding-left: rem(10px);
}

.strokes-title--contacts {
    margin-top: rem(10px);
}

.courses {
    @include flex(column);
    width: 100%;
    background: $dark-beige;
    padding: 40px 10px 20px 20px;
}

.courses__container {
    display: flex;
    padding-top: 30px;
    width: 100%;
}

.courses__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.courses__item {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    flex: 1 1 400px;
    max-width: 530px;
    min-width: 400px;
}

.certificate__img-wrapper {
    max-width: 130px;
    max-height: 200px;    
}

.certificate__img {
    width: 100%;
    height: 100%;  
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .27));   
    
    transition: all .3s cubic-bezier(.55,.08,.06,.97);
    &:hover {
        transform: translateY(-8px);
        filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .27)); 
    }     
}

.certificate {
    display: flex;
}

.certificate__left, .certificate__right {
    display: flex;
    flex-direction: column;
    @include roboto;
}

.certificate__left {
    justify-content: center;   
}

.certificate__right {
    max-width: 370px;
    justify-content: center;
    padding: 15px;    
}

.course__title {
    @include roboto(medium);
    font-size: rem(16px);
    text-align: center;
    margin-bottom: 15px;
}

.course__school {
    @include flex();
    margin-bottom: 10px;
    position: relative;
    border-bottom: 4px solid $light-light-grey;
    padding-bottom: 10px;
}

.course__date {
    @include roboto(light);
    font-size: rem(12px);
    position: absolute;
    right: 0;
    bottom: 0;
}

.course__techs {
    text-align: center;
    @include roboto(light);
    font-style: italic;
    font-size: 15px;

}