.works-container {
  margin: 0 auto;
  position: relative;
  width: 100vw;
  height: 100vh;
  @include flex(column);
  justify-content: flex-start;
  background: url('../images/bg/header-bg.png') center center no-repeat;
  background-size: cover;
}