// Colors
$green: #00bfa5;
$dark-green: #009688;
$grey: #455a64;
$light-grey: #67787f;
$light-light-grey: #c4cbcd;
$black: #373e42;
$white: #fff;
$beige: #efeee9;
$dark-beige: #eeebdf;


// Resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;


// Normalize
@import 'layout/normalize.min';

//Hamburgers
@import "hamburgers/hamburgers.scss";

// Layout
@import 'layout/mixins';
@import 'layout/media';
@import 'layout/layout';
@import 'layout/fonts';

// Commons
@import 'common/titles';
@import 'common/icons';
@import 'common/flipper';

// Components
@import 'components/menu';
@import 'components/auth';
@import 'components/checkbox';
@import 'components/radio';
@import 'components/header';
@import 'components/footer';
@import 'components/triangle';
@import 'components/round-socials';
@import 'components/map';
@import 'components/slider';
@import 'components/mentions';
@import 'components/feedback';
@import 'components/fs-menu';
@import 'components/parallax';
<<<<<<< HEAD
=======

>>>>>>> 32f78719172c2f1000019b991280648c71454ac0


// Pages

@import 'pages/welcome';
@import 'pages/works';
@import 'pages/about';
@import 'pages/blog';
