// Colors
$green: #00bfa5;
$dark-green: #009688;
$grey: #455a64;
$light-grey: #67787f;
$light-light-grey: #c4cbcd;
$black: #373e42;
$white: #fff;


// Resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;


// Normalize
@import 'layout/normalize.min';

// Layout
@import 'layout/mixins';
@import 'layout/media';
@import 'layout/layout';
@import 'layout/fonts';

// Commons
@import 'common/titles';

// Components
@import 'components/menu';
@import 'components/auth';
@import 'components/credits';
@import 'components/checkbox';
@import 'components/radio';


// Pages

@import 'pages/welcome'
