.menu#auth
    .menu__wrapper
        h2.strokes-title.strokes-title--auth Авторизуйтесь
        form.auth__form
            .auth__row
                .auth__left-block
                    +icon('auth__svg-login', 'login')
                input(type="text" placeholder="Логин").auth__input
            .auth__row
                .auth__left-block
                    +icon('auth__svg-password', 'password')
                input(type="text" placeholder="Пароль").auth__input
            .auth__captcha
                .auth__check
                    label(for="man" class="control2 control2-checkbox auth__checkbox-label") Я человек
                        input(type="checkbox" id="man")
                        .control2_indicator

                .auth__confirmation
                    .auth__question Вы точно не робот?
                    .auth__radios
                        label(class="control control-radio auth__radio") Да
                            input(type="radio" name="radio")
                            .control_indicator

                        label(class="control control-radio auth__radio checked") Не уверен
                            input(type="radio" name="radio" checked="checked")
                            .control_indicator


    ul.buttons__list
        li.buttons__item.buttons__item--auth
            a.buttons__link.buttons__link-left#mainBtn(href="") На главную
        li.buttons__item.buttons__item--auth
            a.buttons__link.buttons__link-right(href="") Войти


