mixin credits(listClass)
    - listClass = listClass || 'credits__list'
    ul(class = listClass)
        li.credits__item
            span © Алексей Шилякин 
        li.credits__item
            span Создано с любовью в LoftSchool
        li.credits__item
            span 2017