footer.footer
    .footer__row
        ul.menu__list
            li.menu__item
                a.menu__link(href="works.html") Мои работы                    
            li.menu__item
                a.menu__link(href="about.html") Обо мне
            li.menu__item 
                a.menu__link(href="blog.html") Блог
            li.menu__item 
                a.menu__link(href="index.html") Авторизация        
        include ../components/round-socials.html
    .footer__row
        .footer__desc Я веб-разработчик из Краснодара, и занимаюсь разработкой современных сайтов и приложений.
        .footer__credits © Алексей Шилякин | lexleo | 2017
            

