footer.footer
    .footer__row
        ul.menu__list
            li.menu__item
                a.menu__link(href="") Мои работы                    
            li.menu__item
                a.menu__link(href="") Обо мне
            li.menu__item 
                a.menu__link(href="") Блог
            li.menu__item 
                a.menu__link(href="") Авторизация        
        include ../components/round-socials.html
    .footer__row
        .footer__desc Я веб-разработчик из Краснодара, и этот сайт я сделал в рамках<br/>обучения в Школе онлайн-образования LoftSchool.
        .footer__credits
            +credits('footer-credits__list')
            

