.fs-menu
    ul.fs-menu__list
        li.fs-menu__item
            a(href="works.html" class="fs-menu__link")
                .strokes-title.strokes-title--white Мои работы
        li.fs-menu__item
            a(href="about.html" class="fs-menu__link")
                .strokes-title.strokes-title--white Обо мне
        li.fs-menu__item
            a(href="blog.html" class="fs-menu__link")
                .strokes-title.strokes-title--white Блог
        li.fs-menu__item#fs-menu-auth
            a(href="index.html" class="fs-menu__link")
                .strokes-title.strokes-title--white Авторизация