header.header.header-blog
    .header__content
        .header__info
            .header__img
            h2.strokes-title.strokes-title--white Блог
                .strokes-title__bg.strokes-title__bg--white
                    +icon('header-blog__svg', 'blog_header')           
            h3.header__subtitle.header__subtitle--blog Статьи, которые я написал
            
    ul.socials__list.header__socials
        li.socials__item.socials__item--header
            a.social__link(href="https://vk.com/peavey")
                +icon('socials__svg socials__svg--header', 'vk')
        li.socials__item.socials__item--header
            a.social__link(href="https://github.com/lexleo")
                +icon("socials__svg socials__svg--header", "github")
        li.socials__item.socials__item--header
            a.social__link(href="")
                +icon("socials__svg socials__svg--header", "linked_in")
    .hamburger
        a.hamburger__link(href="")
            +icon("hamburger__svg", "hamburger")

    .next-screen.next-screen--blog
        a.next-screen__link(href="")
            +icon("next-screen__svg", "arrow_down")