header.header
    .header__content
        +icon('header__svg', 'portfolio_header')
        .header__info
            .header__img
            h2.header__title Алексей Шилякин
            h3.header__subtitle Личный сайт веб-разработчика
    ul.socials__list.header__socials
        li.socials__item.socials__item--header
            a.social__link(href="https://vk.com/llexlleo")
                +icon('socials__svg socials__svg--header', 'vk')
        li.socials__item.socials__item--header
            a.social__link(href="https://github.com/lexleo")
                +icon("socials__svg socials__svg--header", 'github')
        li.socials__item.socials__item--header
            a.social__link(href="https://bitbucket.org/fake_leo")
                +icon("socials__svg socials__svg--header socials__bitbucket", 'bitbucket')

    .next-screen
        a.next-screen__link(href="")
            +icon("next-screen__svg", "arrow_down")

    button(class="hamburger hamburger--squeeze" type="button")
        span(class="hamburger-box")
            span(class="hamburger-inner")

    include ../components/fs-menu.pug

    

