.menu
    .menu__wrapper
        .menu__img
        h2.menu__title Алексей Шилякин
        h3.menu__subtitle Личный сайт веб-разработчика
        ul.socials__list
            li.socials__item
                a.social__link(href="https://vk.com/peavey")
                    +icon('socials__svg', 'vk')
            li.socials__item
                a.social__link(href="https://github.com/lexleo")
                    +icon("socials__svg", "github")
            li.socials__item
                a.social__link(href="")
                    +icon("socials__svg", "linked_in")
    ul.buttons__list
        li.buttons__item
            a.buttons__link(href="works.html") Мои работы
        li.buttons__item
            a.buttons__link(href="about.html") Обо мне
        li.buttons__item
            a.buttons__link(href="blog.html") Блог


