.menu#menu
    .menu__wrapper
        .menu__img-wrapper
            img(src='assets/images/photos/me.png' class='menu__img')
        h2.menu__title Алексей Шилякин
        h3.menu__subtitle Личный сайт веб-разработчика
        ul.socials__list
            li.socials__item
                a.socials__link(href="https://vk.com/peavey" tabindex="2")
                    +icon('socials__svg', 'vk')
            li.socials__item
                a.socials__link(href="https://github.com/lexleo" tabindex="3")
                    +icon("socials__svg", "github")
            li.socials__item
                a.socials__link(href="https://bitbucket.org/fake_leo" tabindex="4")
                    +icon("socials__svg socials__bitbucket", "bitbucket")
    ul.buttons__list
        li.buttons__item
            a.buttons__link.link-left(href="works.html" tabindex="5") Мои работы
        li.buttons__item
            a.buttons__link(href="about.html" tabindex="6") Обо мне
        li.buttons__item
            a.buttons__link.link-right(href="blog.html" tabindex="7") Блог
                



