.parallax-wrapper
  #parallax.parallax
        .parallax__layer
          img(src=`./assets/images/parallax/layer1.png`).parallax__image.parallax__image1
        .parallax__layer
          img(src=`./assets/images/parallax/layer2.png`).parallax__image.parallax__image2
        .parallax__layer
          img(src=`./assets/images/parallax/layer3.png`).parallax__image.parallax__image3
        .parallax__layer
          img(src=`./assets/images/parallax/layer4.png`).parallax__image.parallax__image4
        .parallax__layer
          img(src=`./assets/images/parallax/layer5.png`).parallax__image.parallax__image5
        .parallax__layer
          img(src=`./assets/images/parallax/layer6.png`).parallax__image.parallax__image6
        .parallax__layer
          img(src=`./assets/images/parallax/layer7.png`).parallax__image.parallax__image7
        .parallax__layer
          img(src=`./assets/images/parallax/layer8.png`).parallax__image.parallax__image8
        .parallax__layer
          img(src=`./assets/images/parallax/layer9.png`).parallax__image.parallax__image9