.slider
    .slider__description
        
        .project

            .project__title
                .strokes-title-2row Сайт школы онлайн 
                    br
                    | образования

            .project__technologies html, css, javascript

            a.show-btn(href='#')
                .show-btn__icon
                    +icon('show-btn__svg','link')
                span Посмотреть сайт


    .slider__screens
        img.slider-img(src='assets/images/works/work-1.png')
    
    .slider__controls

        .slider__control
            .slider__tint
                .slider__icon#slider-down
                    +icon('slider-arrow__svg', 'portf_arrow_down')        
            .slides#slides-left    
                img.slider-img(src='assets/images/works/work-1.jpg')                  
                img.slider-img(src='assets/images/works/work-2.jpg')        
                img.slider-img(src='assets/images/works/work-3.jpg')        
        
        .slider__control
            .slider__tint
                .slider__icon#slider-up
                    +icon('slider-arrow__svg', 'portf_arrow_up')
            .slides#slides-right
                img.slider-img(src='assets/images/works/work-1.jpg')
                img.slider-img(src='assets/images/works/work-2.jpg')
                img.slider-img(src='assets/images/works/work-3.jpg')
                

