.slider
    .slider__description
        
        .project
            .project__title
                .strokes-title Сайт школы онлайн
                .strokes-title.strokes-title-pure образования
            .project__technologies html, css, javascript
            a.show-btn(href='#')
                .show-btn__icon
                    +icon('show-btn__svg','link')
                span Посмотреть сайт


    .slider__screens
        img.slider-img(src='assets/images/works/work-1.png')
    
    .slider__controls
        .slider__control
        .slider_control
        
            //- .controls__caption
            //-     .controls__icon
            //-         +icon('icon_fill_white', 'portf_arrow_down')
            //-         .controls__icon-bg
            //-             +icon('icon_fill_black', 'portf_arrow_down')
        //-     .controls__bg
        //-         img.slider-img(src='assets/images/works/work-2.jpg')
        //- .controls__right
        //-     .controls__caption
        //-         .controls__icon
        //-             +icon('icon_fill_white', 'portf_arrow_up')
        //-             .controls__icon-bg
        //-                 +icon('icon_fill_black', 'portf_arrow_up')
        //-     .controls__bg
        //-         img.slider-img(src='assets/images/works/work-3.jpg')
