.slider
    .slider__description
        
        .project

            .project__title
                .strokes-title Сайт школы онлайн
                .strokes-title.strokes-title-pure образования

            .project__technologies html, css, javascript

            a.show-btn(href='#')
                .show-btn__icon
                    +icon('show-btn__svg','link')
                span Посмотреть сайт


    .slider__screens
        img.slider-img(src='assets/images/works/work-1.png')
    
    .slider__controls

        .slider__control
            .slider__tint
                .slider__icon
                    +icon('slider-arrow__svg', 'portf_arrow_down')        

            img.slider-img(src='assets/images/works/work-2.jpg')        
        .slider__control
            .slider__tint
                .slider__icon
                    +icon('slider-arrow__svg', 'portf_arrow_down')

            img.slider-img(src='assets/images/works/work-3.jpg')
