.slider
    .slider__description
        
        .project

            .project__title.strokes-title Коворкинг «Воркадиум»

            .project__technologies html, css, js

            a.show-btn(href='http://workadium.lexleo.pro/')
                .show-btn__icon
                    +icon('show-btn__svg','link')
                span Посмотреть сайт


    .slider__screens
        .slider__wrapper
            .slider__list
                .slider__item
                    .slider__img-wrapper
                        img.slider-img(src='assets/images/works/work-1.png')
                .slider__item
                    .slider__img-wrapper
                        img.slider-img(src='assets/images/works/work-2.png')
                .slider__item
                    .slider__img-wrapper
                        img.slider-img(src='assets/images/works/work-3.png')
                .slider__item
                    .slider__img-wrapper
                        img.slider-img(src='assets/images/works/work-4.png')                        
    
    .slider__controls

        .slider__control
            .slider__tint.slider__tint-left
                .slider__icon#slider-down
                    +icon('slider-arrow__svg', 'portf_arrow_down')        
            .slides#slides-left    
                img.slider-img(src='assets/images/works/work-1.jpg')                  
                img.slider-img(src='assets/images/works/work-2.jpg')        
                img.slider-img(src='assets/images/works/work-3.jpg')
                img.slider-img(src='assets/images/works/work-4.jpg')                                
        
        .slider__control
            .slider__tint.slider__tint-right
                .slider__icon#slider-up
                    +icon('slider-arrow__svg', 'portf_arrow_up')
            .slides#slides-right
                img.slider-img(src='assets/images/works/work-1.jpg')
                img.slider-img(src='assets/images/works/work-2.jpg')
                img.slider-img(src='assets/images/works/work-3.jpg')
                img.slider-img(src='assets/images/works/work-4.jpg')                
                

