.slide-menu
    ul.slide-menu__list
        li.slide-menu__item
            a(href="" data-article="0" class="slide-menu__link") Самое важное в SASS
        li.slide-menu__item
            a(href="" data-article="1" class="slide-menu__link") Приёмы в верстке, без которых не обходится ни один сайт
        li.slide-menu__item
            a(href="" data-article="2" class="slide-menu__link") Самый необходимый набор Gulp-планигов
        li.slide-menu__item
            a(href="" data-article="3" class="slide-menu__link") Почему я выбрал Pug
    a(href="" class="slide-menu__open")