.map-marker {
  background: url('../../assets/images/icons/map-marker.svg') center center no-repeat;
//   width: 38px;
//   height: 55px;
  width: 38px;
  height: 55px;
  background-size: cover;
//   cursor: pointer;
  transition: .3s;

}