.section__title {
    color: $white;
    @include bernier();
    font-size: rem(40px);
}

.strokes-title {
    @include bernier();
    font-size: rem(35px);
    color: $grey;
    position: relative;
    line-height: 1.3;
    text-align: center;
    max-width: 450px;
    &:before {
        content: "";
        display: block;
        background: #c4cbcd;
        height: rem(5px);
        width: rem(22px);
        position: absolute;
        left: rem(-40px);
        top: 50%;
        transform: translateY(-50%);
    }
    &:after {
        content: "";
        display: block;
        background: #c4cbcd;
        height: rem(5px);
        width: rem(22px);
        position: absolute;
        right: rem(-40px);
        top: 50%;
        transform: translateY(-50%);        
    }    
}


.strokes-title-2row {
    @include bernier();
    font-size: rem(35px);
    color: $grey;
    position: relative;
    line-height: 1.3;
    text-align: center;
    max-width: 450px;
    &:before {
        content: "";
        display: block;
        background: #c4cbcd;
        height: rem(5px);
        width: rem(22px);
        position: absolute;
        left: rem(-40px);
        top: 25%;
        transform: translateY(-50%);
    }
    &:after {
        content: "";
        display: block;
        background: #c4cbcd;
        height: rem(5px);
        width: rem(22px);
        position: absolute;
        right: rem(-40px);
        top: 25%;
        transform: translateY(-50%);        
    }    
}


.strokes-title--big {
    font-size: 63px;
    z-index: 100;
}

.strokes-title--black {
    color: $black;
}

.strokes-title--pure {
    &:after {
        display: none;
    }
    &:before {
        display: none;
    }
}

.strokes-title__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 10;
    opacity: .5;        
}

.strokes-title__bg--white {
    width: 300%;
    height: 200px;
    margin-top: 25px;
    opacity: .25;
}

.strokes-title--white {
    font-size: 63px;
    color: $white;
    margin-bottom: 0;
    
    &:before {
        background: rgba($white, .2);
        transition: .15s;        
    }
    &:after {
        background: rgba($white, .2);
        transition: .15s;                     
    }
}