.section__title {
    color: $white;
    @include bernier();
    font-size: rem(40px);
}

.strokes-title {
    @include bernier();
    font-size: rem(35px);
    color: $grey;
    position: relative;
    line-height: 1.3;
    text-align: center;
    &:before {
        content: "";
        display: block;
        background: #c4cbcd;
        height: rem(5px);
        width: rem(22px);
        position: absolute;
        left: rem(-40px);
        top: 50%;
        transform: translateY(-50%);
    }
    &:after {
        content: "";
        display: block;
        background: #c4cbcd;
        height: rem(5px);
        width: rem(22px);
        position: absolute;
        right: rem(-40px);
        top: 50%;
        transform: translateY(-50%);        
    }    
}

.strokes-title--black {
    color: $black;
}

.strokes-title-pure {
    &:after {
        display: none;
    }
    &:before {
        display: none;
    }
}